* {
    font-family: 'Century Gothic', sans-serif;
    background-color: palegoldenrod;
}

.header {
    background-color: palegoldenrod;
}

.header h1{
    color: palevioletred;
    text-align: center;
    margin-bottom: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.header p{
    margin-top: 0;
    text-align: center;
    color: orchid;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.header h1:hover {
    transform: scale(1.1);
    box-shadow: palevioletred;
}

.header p:hover {
    transform: scale(1.1);
    box-shadow: orchid;
}

img {
    width: 100%;
    height: auto; 
    display: block; 
    object-fit: cover; 
    max-height: 60vh; 
}

.fav {
    text-align: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 0;
}

.fav h2 {
    color: palevioletred;
    text-align: center;
}

.fav ul {
    list-style-type: none;
    padding: 0;
    background-color: palegoldenrod;
    justify-content: center;
}

.fav li {
    justify-content: center;
    background-color: palegoldenrod;
    color: orchid;
    padding: 8px;
    margin-top: 0;
    margin-bottom: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.fav li:hover {
    background-color: palevioletred; 
    color: palegoldenrod;
    transform: scale(1.05); 
}

.fav button {
    background-color: palegoldenrod;
    color: orchid;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.fav button:hover {
    background-color: palevioletred;
}

.cont p{
    color: palevioletred;
    font-weight: bold;
}

.cont h2 {
    color: palevioletred;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    background-color: palegoldenrod;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: small;
    color: orchid;
    background-color: palegoldenrod;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid palevioletred;
    border-radius: 4px;
    background-color: palegoldenrod;
    color: orchid;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: palegoldenrod;
    color: palevioletred;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: palevioletred;
    color: palegoldenrod;
    font-weight: bold;
}