@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding: 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img{
    width: 100%;
}

.mdi {
    cursor: pointer;
}

body{
    background: #1C1C1C;
    color: #E0BFBB;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1C1C1C;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 1.4rem;
    color: #E0BFBB;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.logo span {
    color: #B76E79;
}

.searchbox {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: #E0BFBB;
    border-radius: 4rem;
    margin-right: 1rem;
}

.searchbox .mdi {
    font-size: 1.1rem;
    color: #1C1C1C;
}

.searchbox .mdi:hover {
    color: #B76E79;
}

#searchinput {
    width: 100%;
    border: none;
    outline: none;
    color: #1C1C1C;
    background: transparent;
    font-size: 0.938rem;
}

.user {
    display: flex;
}

.userimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}

.navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B76E79;
}